<mat-toolbar color="primary">

  <button mat-button (click)="sidenav.open()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>News Headlines</span>
  <span class="example-spacer"></span>

  <button mat-button [matMenuTriggerFor]="appMenu">
    <mat-icon>settings</mat-icon>
  </button>

</mat-toolbar>


<mat-menu #appMenu="matMenu">
  <button mat-menu-item> Settings </button>
  <button mat-menu-item> Help </button>
</mat-menu>



<mat-sidenav-container class="example-container">

  <mat-sidenav #sidenav class="example-sidenav">
    <mat-list class="list-nav">
      <mat-list-item class="list-item" *ngFor="let source of mSources" (click)="searchArticles(source.id);sidenav.close();">

        <div mat-card-avatar [ngStyle]="{'background-image': 'url(../assets/images/'+ source.id +'.png)'}" class="example-header-image"></div>

        <span class="source-name"> {{source.name}}</span>

      </mat-list-item>
    </mat-list>
  </mat-sidenav>


  <mat-card class="example-card" *ngFor="let article of mArticles">
    <mat-card-header>
      <div mat-card-avatar [ngStyle]="{'background-image': 'url(../assets/images/'+ article.source.id +'.png)'}" class="example-header-image"></div>
      <mat-card-title class="title">{{article.title}}</mat-card-title>
      <mat-card-subtitle>{{article.source.name}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="img-article" src={{article.urlToImage}} alt="">
    <mat-card-content>
      <p>
        {{article.description}}
      </p>
    </mat-card-content>
    <mat-card-actions class="action-buttons">
      <button mat-button color="primary">
        <mat-icon>thumb_up_alt</mat-icon> 12 Likes
      </button>
      <button mat-button color="primary">
        <mat-icon>comment</mat-icon> Comments
      </button>
      <!-- <button mat-button color="primary"><mat-icon>share</mat-icon> Share</button> -->

      
      <button mat-icon-button shareButton="facebook">
        <fa-icon [icon]="fbIcon" size="lg"></fa-icon>
      </button>
      <button mat-icon-button shareButton="twitter">
        <fa-icon [icon]="tweetIcon" size="lg"></fa-icon>
      </button>
      <button mat-icon-button shareButton="pinterest">
        <fa-icon [icon]="pinIcon" size="lg"></fa-icon>
      </button>
      <button mat-icon-button shareButton="whatsapp">
        <fa-icon [icon]="whatIcon" size="lg"></fa-icon>
      </button>



      <!-- <share-buttons show="3" [image]="imageurl" [title]="title"></share-buttons> -->
      <!-- <share-button button="facebook" [icon]="fbIcon" [url]="shareService.url | async" [description]="shareService.description | async" ></share-button> -->
      <!-- <button shareButton="facebook"><i class="fa fa-facebook"></i></button>
      <button shareButton="twitter"><i class="fa fa-twitter"></i></button> -->
      <a mat-button color="primary" href={{article.url}} target="_blank">
        <mat-icon>visibility</mat-icon> View
      </a>
    </mat-card-actions>
  </mat-card>

</mat-sidenav-container>